.area{
    width: 100%;
    height: 500px;
    line-height: 500px;
    text-align: center;
    margin: 35px ;
    padding: 30px;
    cursor: pointer;
   
}
.bi-cloud-arrow-up{
    font-size: 80px;
    
}

.bi-x-circle-fill{
    float: left;
    color: rgb(241, 52, 83);
}
#ul{
    display: flex;
    
}
